{{!-- views/auth/signup.hbs --}}
<div id="signup">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label for="input-username"> Username </label>
    <input type="text" name="username" placeholder="Your username" />

    <label for="input-password"> Password </label>
    <input type="password" name="password" id="input-password" placeholder="********" />

    <button type="submit">Create account</button>

    {{!-- error message will be added here --}}

    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}


  </form>

  <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
